* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ESTILO GENERAL DE INDEX*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    background: rgb(32 86 223);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.logo img {
    width: 250px;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
    color: #fff;
}

.navbar li a:hover {
    color: rgb(30 150 230);
}

button {
    padding: 9px 25px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(30 150 230);
}

.main {
    width: 100%;
    height: 100%;
}

footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgb(0, 0, 0, 0.9);
}

.title {
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: 100;
    margin: 15px;
}

.sub_title {
    text-align: center;
    font-size: 25px;
    color: #000;
}

.container {
    width: 100%;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
}

.card {
    margin: 10px;
}

.card_header {
    width: 100%;
    height: 50%;
}


/* --------------------------------------- */


/* Slideshow container */

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & evious buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* --------------------------------------------------*/


/* ESTILO GENERAL DE REGISTER Y LOGIN */

.Sx {
    position: relative;
    min-height: 100vh;
    background-image: url(../images/back.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.Cx {
    background-image: url(../images/back.png);
    position: relative;
    width: 800px;
    height: 500px;
    background: #ffff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

.signup a {
    font-weight: 600;
    text-decoration: none;
    color: #ec1e1e;
}

.Imx {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ESTILO LOGIN */

.imgBx {
    position: absolute;
    right: -0%;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

.Hx {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.Ipx {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.Ix {
    max-width: 100px;
    background: #677eff;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5;
}


/* ESTILO REGISTER */

.imgCx {
    position: relative;
    right: 0%;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.formCx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

.Hz {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.Ipz {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.Iz {
    max-width: 100px;
    background: #ec1e1e;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5;
}


/* ESTILO DE PRODUCTO , AGREGAR PRODUCTO Y AGREGAR IMAGEN*/

.conte {
    background-image: url(../images/ba1.jpg);
    background-size: cover;
}

.cont {
    background-color: #4767a4;
    width: 800px;
    margin: auto;
}

.tb {
    margin: 5px;
    padding-bottom: 15px
}

.title-p {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}

.th-text {
    color: #fff;
    width: 25%;
    border-bottom: 2px solid #000;
    text-align: center;
}

.tr-text {
    color: #fff;
    border-bottom: 2px solid #000;
    text-align: center;
}

.td-text {
    color: #000;
    text-align: center;
    object-position: right;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.btn {
    text-decoration: none;
    margin: 10px;
    color: #c00606;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


/* ESTILO DE MODIFICAR PRODUCTO*/

.ct {
    text-align: center;
    margin: auto;
}


/* ESTILO DE AGREGAR IMAGEN  */

.contei {
    width: 100%;
    background-image: url(../images/ba1.jpg);
    background-size: cover;
}

.con {
    text-align: center;
    width: 300px;
    margin: auto;
}

.img_p {
    max-width: 300px;
    margin: 20px;
}

.text-p {
    color: #fff;
}